.element {
    display: inline-block;
    padding: 20px;
    margin: 25px;
    background-color: #eee;
}

.element-1 {
    border: 5px solid red;
    outline: 5px solid black;
}

.element-2 {
    border-width: 5px;
    border-style: solid;
    border-color: blue green;
    outline: 5px solid black;
}

.element-3 {
    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;
    outline: 5px solid black;
}