div {
    width: 400px;
    height: 400px;
    background-image: url("./image/css-assignment-5-8.png");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    padding: 15px;
    margin: 25px;
}

.assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80%;
}
.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 80%;
}
.assign-4-shape-4 {
background-repeat: no-repeat;
background-position: right bottom;
}