div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.black {
    background-color: black;
    z-index: 0;
    top: 25px;
}

.blue {
    background-color: #2666f1;
    z-index: 1;
    top: 10px;
}

.green {
    background-color: #27a086;
    z-index: 2;
    top: 25px;
    left: 23px;
}

.red {
    background-color: #f52121;
    z-index: 3;
    top: 40px;
    left: 38px;
}
